---
import { Icon } from 'astro-icon/components';

const ICON_SIZE = 32;
const SMALL_ICON_SIZE = 24;
---

<header class="bg-slate-700 text-white sticky top-0 dark:bg-gray-800 py-6 z-50">
	<div class="container mx-auto px-6 flex justify-between items-center">
		<a href="/" class="text-2xl font-bold">Atomowy Hub</a>
		<nav>
			<ul class="flex space-x-4 items-center">
				<li>
					<a
						href="/faq"
						class="internal-link text-white hover:text-blue-200 flex items-center">
						<Icon
							name="mdi:help-circle-outline"
							width={SMALL_ICON_SIZE}
							height={SMALL_ICON_SIZE}
						/>
						FAQ
					</a>
				</li>
				<li>
					<a
						href="/manifest"
						class="internal-link text-white hover:text-green-200 flex items-center">
						<Icon
							name="mdi:file-document-outline"
							width={SMALL_ICON_SIZE}
							height={SMALL_ICON_SIZE}
						/>
						Manifest
					</a>
				</li>
				<li>
					<a
						href="https://github.com/zivavu/atomic-hub"
						target="_blank"
						rel="noopener noreferrer"
						title="Odwiedź nasze repozytorium na GitHub"
						class="icon-button">
						<Icon name="mdi:github" width={ICON_SIZE} height={ICON_SIZE} />
					</a>
				</li>
				<li>
					<a
						href="#"
						target="_blank"
						rel="noopener noreferrer"
						title="Dołącz do naszej społeczności na Discordzie"
						class="icon-button">
						<Icon
							name="ic:twotone-discord"
							width={ICON_SIZE}
							height={ICON_SIZE}
						/>
					</a>
				</li>
				<li>
					<button
						class="theme-toggle icon-button"
						id="themeToggle"
						title="Przełącz motyw">
						<Icon
							name="mdi:weather-night"
							width={ICON_SIZE}
							height={ICON_SIZE}
							class="dark-icon"
						/>
						<Icon
							name="mdi:weather-sunny"
							width={ICON_SIZE}
							height={ICON_SIZE}
							class="light-icon"
						/>
					</button>
				</li>
			</ul>
		</nav>
	</div>
</header>

<script>
	const themeToggle = document.getElementById('themeToggle');
	const htmlElement = document.documentElement;

	// Sprawdź bieżący motyw z local storage lub ustaw domyślny
	const currentTheme = localStorage.getItem('theme') || 'light';

	// Ustaw klasę 'dark' na elemencie HTML, jeśli bieżący motyw to 'dark'
	if (currentTheme === 'dark') {
		htmlElement.classList.add('dark');
	}

	// Funkcja do przełączania motywu
	const toggleTheme = () => {
		htmlElement.classList.toggle('dark');
		const newTheme = htmlElement.classList.contains('dark') ? 'dark' : 'light';
		localStorage.setItem('theme', newTheme);
	};

	// Dodaj nasłuchiwanie na kliknięcie przycisku przełączania motywu
	themeToggle?.addEventListener('click', toggleTheme);
</script>

<style>
	.internal-link,
	.icon-button {
		padding: 0.25rem;
		border-radius: 0.5rem;
		transition: background-color 0.3s ease;
	}
	.internal-link {
		padding: 0.5rem 0.75rem;
		gap: 0.25rem;
	}

	.internal-link:hover,
	.icon-button:hover {
		background-color: rgba(255, 255, 255, 0.1);
	}

	.icon-button {
		display: flex;
		align-items: center;
		justify-content: center;
		background: none;
		border: none;
		color: inherit;
		cursor: pointer;
	}

	.theme-toggle .light-icon {
		display: none;
	}

	.theme-toggle .dark-icon {
		display: block;
	}

	:global(.dark) .theme-toggle .light-icon {
		display: block;
	}

	:global(.dark) .theme-toggle .dark-icon {
		display: none;
	}
</style>
