---
import { Icon } from 'astro-icon/components';

const ICON_SIZE = 32;
---

<header class="bg-slate-700 text-white sticky top-0 dark:bg-gray-800 py-6 z-50">
	<div class="container mx-auto px-6 flex justify-between items-center">
		<a href="/" class="text-2xl font-bold">Atomowy Hub</a>
		<nav>
			<ul class="flex space-x-4 items-center">
				<li>
					<a href="/faq" class="text-white hover:text-gray-200">FAQ</a>
				</li>
				<li>
					<a href="/manifest" class="text-white hover:text-gray-200">Manifest</a
					>
				</li>
				<li>
					<a
						href="https://github.com/zivavu/atomic-hub"
						target="_blank"
						rel="noopener noreferrer"
						title="Odwiedź nasze repozytorium na GitHub">
						<Icon name="mdi:github" width={ICON_SIZE} height={ICON_SIZE} />
					</a>
				</li>
				<li class="relative group">
					<button
						class="flex items-center content-center"
						disabled
						title="Dołącz do naszej społeczności na Discordzie">
						<Icon name="mdi:discord" width={ICON_SIZE} height={ICON_SIZE} />
					</button>
				</li>
				<li>
					<button
						class="theme-toggle flex items-center content-center"
						id="themeToggle"
						class="theme-toggle"
						title="Przełącz motyw">
						<Icon
							name="mdi:weather-night"
							width={ICON_SIZE}
							height={ICON_SIZE}
							class="dark-icon"
						/>
						<Icon
							name="mdi:weather-sunny"
							width={ICON_SIZE}
							height={ICON_SIZE}
							class="light-icon"
						/>
					</button>
				</li>
			</ul>
		</nav>
	</div>
</header>

<script>
	const themeToggle = document.getElementById('themeToggle');
	const htmlElement = document.documentElement;

	// Sprawdź bieżący motyw z local storage lub ustaw domyślny
	const currentTheme = localStorage.getItem('theme') || 'light';

	// Ustaw klasę 'dark' na elemencie HTML, jeśli bieżący motyw to 'dark'
	if (currentTheme === 'dark') {
		htmlElement.classList.add('dark');
	}

	// Funkcja do przełączania motywu
	const toggleTheme = () => {
		htmlElement.classList.toggle('dark');
		const newTheme = htmlElement.classList.contains('dark') ? 'dark' : 'light';
		localStorage.setItem('theme', newTheme);
	};

	// Dodaj nasłuchiwanie na kliknięcie przycisku przełączania motywu
	themeToggle?.addEventListener('click', toggleTheme);
</script>

<style>
	.theme-toggle .light-icon {
		display: none;
	}

	.theme-toggle .dark-icon {
		display: block;
	}

	:global(.dark) .theme-toggle .light-icon {
		display: block;
	}

	:global(.dark) .theme-toggle .dark-icon {
		display: none;
	}
</style>
